<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations</title>
    <!--  <link rel="stylesheet" href="/css/done.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

    <div class="jumbotron text-center">
        <div class="container">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3" style="color:grey">You've successfully signed
                <%=func%>
            </h1>
            <hr>
            <a type="button" href="/" class="btn btn-secondary">Home</a>
        </div>
    </div>

</body>

</html>