<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div class="forms">
        <form>
            <h1>please fillout your details</h1>
            <label>Full name</label>
            <input type="text" name="name" value=" " required autofocus>
            <label>Sex</label>
            <input type="text" name="sex" value=" " required autofocus>
            <label>DOB</label>
            <input type="date" data-provider="datepicker" name="dob" value=" " required autofocus>
            <label>Place of Birth</label>
            <input type="text" name="pob" value=" " required autofocus>
        </form>
    </div>
</body>

</html>