.form {
    padding: 5% 35%;
}

.input {
    padding: 2% 0;
}

h1 {
    text-align: center;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-style: oblique;
}

h5 {
    text-align: center;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: gray;
    font-style: italic;
    padding-bottom: 5%;
    ;
}